# Easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# List alias
alias l="ls -l"
alias la="ls -la"
alias lsd='ls -l | grep "^d"'

# Set ls color for MacOS
if [[ "$OSTYPE" =~ ^darwin ]]; then
  alias ls="command ls -G"
fi

# Quick home
function home() {
  cd ~/$@
}

# Move to Code folder
alias code="cd ~/Code"

# Move to Download folder
alias downloads="cd ~/Downloads"

# Pretty json
alias prettyjson="jq '.'"

# Add space in the Dock
alias add-dock-space="defaults write com.apple.dock persistent-apps -array-add '{tile-data={}; tile-type=\"spacer-tile\";}' | killall Dock"

# Sha1 generation
function sha1() {
  echo -n $@ | openssl sha1
}

# Random number
# Usage: `rand` will produce a random number between 1 and 6
# Usage: `rand 100` will produce a random number between 1 and 100
function rand() {
  if [[ -n "$@" ]]; then
    echo $[RANDOM%$@+1];
  else
    echo $[RANDOM%6+1];
  fi;
}

# Get a password in keychain
# Usage `getpassword {ssid}`
function getpassword() {
  if [[ -n "$@" ]]; then
    security find-generic-password -ga $@ | grep "password:"
  else
    airport="/System/Library/PrivateFrameworks/Apple80211.framework/Versions/Current/Resources/airport"
    ssid="`$airport -I | awk '/ SSID/ {print substr($0, index($0, $2))}'`"

    if [[ "$ssid" != "" ]]; then
      getpassword $ssid
      return
    fi;

    echo "ERROR: You are not connected to any wifi so you should pass an ssid to search for: getpassword {ssid}"
  fi;
}

# Reload shell config
alias reload=". ~/.zshrc"

# Apps
alias xcode="open -a Xcode"
alias safari="open -a safari"
alias chrome="open -a google\ chrome"

# Open the git repository in the browser
alias ghrepo="gh repo view --web"

# Open the git branch in the browser
alias ghbranch="gh browse --branch \$(git branch --show-current)"

# Get information about an ec2 instance
function ec2_info() {
  aws ec2 describe-instances --filters "Name=tag:Name,Values=$@"
}

# Docker ip
function docker_ip() {
  docker inspect --format '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' "$@"
}

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

# Modern tool aliases
alias vim="nvim"
alias cat="bat"
alias top="htop"
